@import '../../scss/variables';

.counter {
  /* position: absolute; */
  right: 5px;
  bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82px;

  &__plusDiv {
    display: block;
    margin-left: 5px;
  }

  &__minusDiv {
    display: block;
    margin-right: 5px;
  }

  &__minus {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover path {
      fill: $primary;
    }
  }

  &__plus {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover path {
      fill: $primary;
    }
  }

  &__value {
    margin-bottom: 5px;
  }
}
