@import '../../scss/variables';

.loading-button {
  &__spinner {
    width: 30px;
    height: 30px;
    stroke: $text-light;
    animation: 1.1s linear 0s normal none infinite running rotation;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
