@import '../../../scss/variables';

.password-field {
  input {
    padding-right: 51px;
  }

  &__eye-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    user-select: none;
    stroke: $gray;
  }
}
