@import '../../scss/variables';

.product-card {
  position: relative;
  width: 230px;
  cursor: pointer;

  &__a {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &__img-div {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    text-align: center;
  }

  &__description {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
  }

  &__price {
    width: fit-content;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
  }

  &__counter-div {
    z-index: 2;
    width: fit-content;
    margin-bottom: 8px;
  }

  &__price-and-counter {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__btn {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 38px;

    &_in-basket {
      background-color: $green;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $dark-green;
      }
    }
  }

  &__like {
    position: absolute;
    top: 0;
    right: 8px;
    z-index: 2;
    cursor: pointer;
    fill: $text;
    transition: fill 0.3s ease;

    &:hover {
      fill: $primary;
    }

    &_active {
      fill: $primary;
    }
  }
}
