@import '../../scss/variables';

.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 8px dotted $primary;
  border-radius: 50%;
  animation: rotation 2.2s linear infinite;

  @media (max-width: $bp480) {
    width: 60px;
    height: 60px;
    border-width: 6px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
