@import '../../scss/variables';

.mobile-text {
  display: none;
  max-width: 130px;
  font-size: 20px;
  font-weight: 300;
  color: $gray;
  cursor: pointer;
  @media (max-width: 800px) {
    display: block;
    margin: 0 auto;
  }
}

.filter-div {
  height: 100%;
}

.filter {
  width: 240px;
  border-right: 1px solid $gray;

  @media (max-width: 800px) {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 124px 30px 80px;
    margin: auto;
    overflow: auto;
    background-color: $background-light;
    transition: left 0.5s ease;

    &.open {
      left: 0;
    }

    &__icon-close {
      position: absolute;
      top: -100px;
      right: -160px;
      width: 35px;
      height: 35px;
      color: $gray;
      cursor: pointer;
    }
  }

  &__sweetness,
  &__color {
    & li {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    & input {
      max-width: 20px;
    }

    & label {
      max-width: 150px;
      margin-left: 10px;
    }
  }

  &__volume,
  &__price {
    display: flex;

    &__input-text {
      max-width: 70px;
      padding: 4px;
      margin-top: 1px; // Этот 1 пиксель не просто так, если его убрать какой-то баг случается с отображением
      border: 1px solid $gray;
      border-radius: 3px;

      &__dash {
        max-width: 15px;
        margin: 3px 10px 0;
      }
    }
  }

  &__country {
    max-width: 175px;
    padding: 4px;
    border: 1px solid $gray;
    border-radius: 3px;
  }

  /* Кастомный checkbox */
  &__custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-user-select: none;
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -moz-user-select: none;
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -ms-user-select: none;
      user-select: none;
    }

    & + label::before {
      display: inline-block;
      flex-grow: 0;
      flex-shrink: 0;
      width: 1em;
      height: 1em;
      margin-right: 0.5em;
      content: '';
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 50% 50%;
      border: 1px solid $gray;
      border-radius: 0.25em;
      transition: border-color 1s ease;
    }

    &:checked + label::before {
      background-color: $background-light;
      background-image: url('../../../public/checkicon.svg');
      border-color: $gray;
    }

    &:not(:disabled, :checked) + label:hover::before {
      border-color: $dark-primary;
    }
  }
}
