$primary: #ba0c0c;
$dark-primary: #a30e0e;
$text: #000;
$text-light: #fff;
$gray: #808080;
$dark-gray: #626262;
$background-light: #fff;
$green: #0cba13;
$dark-green: #11a30e;

$primary-font-family: 'Roboto', sans-serif;

$bp-container: 1029.98px;
$bp992: 991.98px;
$bp768: 767.98px;
$bp480: 479.98px;
$bp320: 320px;
