$primary: #ba0c0c;
$text: #000;
$text-light: #fff;
$gray: #808080;
$background-light: #fff;
$primary-font-family: 'Roboto', sans-serif;
$bp-container: 1029.98px;
$bp992: 991.98px;
$bp768: 767.98px;
$bp480: 479.98px;
$bp320: 320px;
